<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.playlistmakers_doing">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PlayListMakers_doing"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".MediaTeka"
            android:exported="false" />
        <activity android:name=".presentation.ui.PlayerActivity" />
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>